body:before {
	white-space: pre;
	font-family: monospace;
	content: 'Error: File to import not found or unreadable: /scss/services-page/header.\A        Load path: /Users/mac/Desktop/front-end basic_solonko/diplom/scss/services-page\A         on line 1 of /Users/mac/Desktop/front-end basic_solonko/diplom/scss/services-page/style.scss\A \A 1: @import "/scss/services-page/header";';
}
