.publications__container {
  background: #f5f5fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pulications__head {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  padding: 30px 0;
  @media screen and (min-width: 768px) {
    width: calc(100% - 120px);
  }
  @media screen and (min-width: 1920px) {
    width: 1600px;
  }
}
.pulications__head-sub {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.publications__card-box {
  background: #fff;
  border-radius: 8px;
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc(100% - 459px);
    margin-right: 30px;
    align-self: stretch;
    &:nth-child(2) {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1024px) {
    width: calc(100% - 742px);
  }
  @media screen and (min-width: 1440px) {
    width: calc(100% - 1020px);
  }
  @media screen and (min-width: 1920px) {
    width: calc(100% - 1086px);
  }
}
.publication__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-direction: row;
  }
  @media screen and (min-width: 1920px) {
    width: 1600px;
  }
}
.publications__card-holder {
  background: #fff;
  border-radius: 8px;
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    display: flex;
    width: calc(100% - 742px);
    align-self: stretch;
    margin-left: 30px;
  }
  @media screen and (min-width: 1440px) {
    width: calc(100% - 1020px);
  }
  @media screen and (min-width: 1920px) {
    width: calc(100% - 1086px);
  }
}
.card__item-equity {
  width: 100%;
  @media screen and (min-width: 1920px) {
    display: none;
  }
}
.card__item-equity-xxl {
  display: none;
  @media screen and (min-width: 1920px) {
    display: block;
  }
}
.publications__box-text {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}
.text__title-sub {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
  border-bottom: 4px solid #e6e6f0;
  padding-bottom: 15px;
}
.box__text-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
  margin: 30px 30px 15px 0;
  width: 100%;
}
.title__sub-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  margin: 15px 0 30px 0;
}
.publications__card-xl {
  display: none;
  @media screen and (min-width: 768px) {
    width: calc(100% - 120px);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
