.sevices__container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    width: calc(100% - 120px);
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1440px) {
    width: calc(100% - 360px);
  }
  @media screen and (min-width: 1920px) {
    width: calc(100% - 560px);
  }
}
.services__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 30px;
}
.services__list-item {
  color: red;
  margin-bottom: 15px;
}
.list__item-text {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}
.services__list-item:nth-child(4) {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}
.services__list {
  flex-direction: column;
  @media screen and (min-width: 768px) {
  }
}
.items__wraper {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    justify-content: space-between;
    flex-direction: row;
  }
}
.items__wrap {
  @media screen and (min-width: 768px) {
    width: calc(100% - 354px);
    margin-left: 15px;
  }
  @media screen and (min-width: 1024px) {
    width: calc(100% - 482px);
  }
  @media screen and (min-width: 1440px) {
    width: calc(100% - 570px);
  }
  @media screen and (min-width: 1920px) {
    width: calc(100% - 710px);
  }
}
.items__wrap_rigth {
  @media screen and (min-width: 768px) {
    width: calc(100% - 354px);
    margin-left: 15px;
  }
  @media screen and (min-width: 1024px) {
    width: calc(100% - 482px);
  }
  @media screen and (min-width: 1440px) {
    width: calc(100% - 570px);
  }
  @media screen and (min-width: 1920px) {
    width: calc(100% - 710px);
  }
}
